
<% flash.each do |type, msg| %>
  <div class="alert alert-<%=type%>">
    <%= msg %>
  </div>
<% end %><div class="col-12 grid-margin stretch-card">

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Edit</h4>


    <%=form_for @about, html: {multipart: true} do |f|%>
      <div class="form-group">
        <label for="exampleInputName1">Title</label>
        <%=f.text_field :title, class: 'form-control', placeholder: 'Enter title'%>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail3">Content</label>
        <%=f.text_field :content, class: 'form-control', placeholder: 'Enter Content'%>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword4">Address</label>
        <%=f.text_field :address, class: 'form-control', placeholder: 'Enter Address'%>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword4">Hotline</label>
        <%=f.text_field :hotline, class: 'form-control', placeholder: 'Enter Hotline'%>
      </div>      
      <div class="form-group">
        <label for="exampleInputPassword4">Email</label>
        <%=f.text_field :email, class: 'form-control', placeholder: 'Enter Email'%>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword4">Facebook</label>
        <%=f.text_field :address, class: 'form-control', placeholder: 'Enter Address'%>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword4">Linkedin</label>
        <%=f.text_field :address, class: 'form-control', placeholder: 'Enter Address'%>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword4">Favicon</label>
        <%=f.file_field :favicon%>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword4">Logo</label>
        <%=f.file_field :logo%>
      </div>

      <div class="form-group">
        <label for="exampleTextarea1">Textarea</label>
        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>

    <%end %>
  </div>
</div>
</div>