<% provide(:title, 'About Us') %>
<% flash.each do |type, msg| %>
  <div class="alert alert-<%=type%>">
    <%= msg %>
  </div>
<% end %>
<div class="row">
    <div class="col-12">
        <div class="border-bottom text-center pb-4">
         <h3>ABOUT US</h3>
            <%=link_to 'Edit',edit_about_path(@about), class: "btn btn-gradient-success"%>
        </div>
       
        <div class="py-4">
          <p class="clearfix">
            <span class="float-left">
              Title
            </span>
            <span class="float-right text-muted">
              <%=@about.title%>
            </span>
          </p>
          <p class="clearfix">
            <span class="float-left">
              Content
            </span>
            <span class="float-right text-muted">
              <%=@about.content%>
            </span>
          </p>
          <p class="clearfix">
            <span class="float-left">
              Address
            </span>
            <span class="float-right text-muted">
              <%=@about.address%>
            </span>
          </p>
          <p class="clearfix">
            <span class="float-left">
              Hotline
            </span>
            <span class="float-right text-muted">
            <%=@about.hotline%>
            </span>
          </p>
          <p class="clearfix">
            <span class="float-left">
              Email
            </span>
            <span class="float-right text-muted">
              <%=@about.email%>
            </span>
          </p>
          <p class="clearfix">
          <span class="float-left">
            Facebook
          </span>
          <span class="float-right text-muted">
            <%=@about.facebook%>
          </span>
          </p>
          <p class="clearfix">
          <span class="float-left">
            Linkedin
          </span>
          <span class="float-right text-muted">
            <%=@about.linkedin%>
          </span>
          </p>
          <p class="clearfix">
          <span class="float-left">
            Favicon
          </span>
          <span class="float-right text-muted">
          <%=image_tag @about.favicon_url, class: 'img-lg rounded-circle mb-3'%>
          </span>
          </p>
          <p class="clearfix">
          <span class="float-left">
            Logo
          </span>
          <span class="float-right text-muted">
          <%=image_tag @about.logo_url, class: 'img-lg rounded-circle mb-3'%>
          </span>
          </p>                    
        </div>
    
        
      </div>

</div>